.spinner {
    margin: 1rem auto;
    width: 54px;
    height: 54px;
    border: 5px solid #F3F3F3;
    border-radius: 100%;
    animation: spin 1s infinite;
    border-top-color: #0C97FA;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}